/* App.css */

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%)
}
.app-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.detail {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showdata {
  margin: 10px;
  padding: 20px;
  border: 2px solid rgb(243, 239, 239);
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  /* position: relative; */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Add shadow effect */
}

.blogimg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.buttons{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.delete-button {
  margin-top: 10px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* position: absolute; */
  right: 20px;
  bottom: 10px;
}
.duplicate-button {
  margin-top: 10px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* position: absolute; */
  bottom: 10px;
  left: 100px;
}
.add-button {
  margin-top: 10px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button {
  margin-top: 10px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* position: absolute; */
  bottom: 10px;
  left: 20px;
}

input {
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

input[type="text"],
input[type="date"] {
  width: calc(100% - 16px);
}

input[type="text"]:focus,
input[type="date"]:focus {
  width: calc(100% - 18px);
}
